# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
SUPABASE_SERVICE_ROLE_KEY=eyJ...

# WhatsApp
NEXT_PUBLIC_WHATSAPP_JENI=5492994226380
NEXT_PUBLIC_WHATSAPP_SILVIA=5492995230772

# Admin — lista de emails autorizados separados por coma
ADMIN_EMAILS=admin@tudominio.com,otro@tudominio.com
